.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    justify-content: center;
    padding: 25px 0;
    margin: 10px;

    .formWrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 500px;
        width: 100%;
        border: 1px solid #fff;
        padding: 10px;
        .wrapperInput {
            display: flex;
            flex-direction: column;
            gap: 8px;
            .error {
                color: red;
                font-size: 14px;
                padding: 5px;
            }
        }

        input {
            min-width: 100%;
            padding: 14px 5px;
        }

        select {
            padding: 14px 5px;
            width: 100%;
        }

        label {
            cursor: pointer;
        }

        button {
            margin-top: 16px;
            border-radius: 8px;
            cursor: pointer;
            width: 100%;
            padding: 16px 0;
            border: none;
            font-size: 20px;
            font-weight: 600;
        }
    }
}
